#canvas{
    width: 512px;
    height: 512px;
    background-color: black;
    image-rendering: pixelated;
}

h1 {
    text-align: center;
}

body {
    color: white;
    display: flex;
    justify-content: center;
    background-color: #171d29; /*#10141c*/
    font-family: 'Rubik', sans-serif;
}

label {
    width: 180px;
    clear: left;
    text-align: right;
    padding-right: 10px;
}

input,
label, button {
    float: left;
}