#canvas{
    width: 512px;
    height: 512px;
    background-color: black;
    image-rendering: pixelated;
}

h1 {
    text-align: center;
}

body {
    color: white;
    display: flex;
    justify-content: center;
    background-color: #171d29; /*#10141c*/
    font-family: 'Rubik', sans-serif;
}

#elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.selected {
    border: 2px dotted black;
}