#canvas{
    /*width: 512px;
    height: 512px;*/
    margin: 0px;
}

body {
    margin: 0px;
}

html {
    overflow: hidden;
}

#controls {
    position: absolute;
    bottom: 10px;
    left: 10px;
}